<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com_irfanberas_bdg.latihan.er_ex_java">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.irfanberas_bdg.latihan.er_ex_java.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.irfanberas_bdg.latihan.er_ex_java.observables.ZipActivity">
        </activity>
        <activity android:name="com.irfanberas_bdg.latihan.er_ex_java.operators.MergeActivity">
        </activity>
        <activity android:name="com.irfanberas_bdg.latihan.er_ex_java.operators.FromArrayActivity">
        </activity>
        <activity android:name="com.irfanberas_bdg.latihan.er_ex_java.operators.RangeFusionActivity">
        </activity>
        <activity android:name="com.irfanberas_bdg.latihan.er_ex_java.operators.OperatorsActivity">
        </activity>
    </application>

</manifest>